*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box; /*prefijo para safary y google Chrome*/
	-moz-box-sizing: border-box; /*Firefox*/
	-o-box-sizing: border-box; /*Opera*/
	-ms-box-sizing: border-box; /*Internet Explorer*/
	box-sizing: border-box;
}

/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/

body{
	/**/background: url(../IMAGENES/Hydrangeas.jpg);
	/*background-color: black;*/
	background-repeat: no-repeat; /*Para que no se repita la imagen*/
	background-attachment: fixed; /*Para que la imagen quede fija*/
	background-size: cover;
	color:white;
}

/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/

header nav ul{

	background: rgba(31,31,31,0.6);/*Transparencia menu*/
	list-style: none;
	
	text-align: center;
	/*border-radius: 10px;*/
}

header nav ul li{
	display: inline-block; /*uno al lado del otro*/
	width: 198px; /**/
}

header nav ul li a{
	display: block;/**/
	padding: 15px 20px;
	color: white;
	text-decoration: none; /*Eliminar linea debajo de los linck*/
	font-weight: bold;
}

header nav ul li a:hover{

	color: #155A04;
	background: rgba(0,0,0,0.53);
	transition: 0.8s all ease;

}

div{
text-align: right;
}

/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
main{

	width: 80%;
	margin: 20px auto;
	max-width: 1200px;
}

section{

	background: rgba(31,31,31,0.6); /*Transparencia*/
	border: 4px solid rgba(168,168,168, 0.44);
	/**/border-radius:10px;
}


